/**
 * Header
 */

.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

/**
 * Footer
 */

.footer {
  border-top: 1px solid #dddddd;
  margin-top: 4em;
  padding: 1em 0;
}
  .footer small {
    float: left;
  }
  .footer nav {
    float: right;
    margin: 0;
    padding: 0;
  }
    .footer nav li {
      float: left;
      list-style: none;
      margin: 0 0 0 1em;
      padding: 0;
    }

/**
 * Create Recipe page
 */

.form-time > label {
  display: block;
}
.form-time select {
  float: left;
  margin-right: 10px;
  width: 60px;
}
.form-time .select-label {
  float: left;
  font-weight: normal;
  margin-top: 7px;
  margin-right: 10px;
}

/**
 * Recipe index page
 */

.page-header .btn {
  float: right;
  margin-top: 3px;
}

/**
 * Single recipe page
 */

/* Recipe forms */

.recipe-form .col-xs-2 .btn {
  margin-top: 1.8em;
}

/* Recipe ingredients & steps */

.list-group-item .delete-recipe-item {
  display: none;
}
  .list-group-item:hover .delete-recipe-item {
    display: block;
  }

/* Recipe image */

.recipe-image {
  margin-bottom: 1em;
}
  .recipe-image img {
    max-width: 100%;
  }

/* Heading button */

h1 .btn {
  float: right;
  margin-top: 2px;
}